label {
    color: black !important;
}
a{
   font-family:Avantgarde, sans-serif;
}
h3{
    font-family:FreeMono, monospace;
}
.parallax-container {
    opacity:.70; ;
  }
.menu{
     color:white;
  }



/*
.nome{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
